body{
    padding: 20px;
    margin: 0;
}
section{
    background: url(image/BG.png);
    width: 425px;
    height: 794px;
    margin: 0; 
}
/* ---------------------
---Style of Header------
----------------------*/
.div-header{
    width: 425px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0;
    margin: 0 auto;
}
.div-menu{
    width: 400px;
    height: 517px;
    margin: 0 auto;
    margin-top: 52px;    
}

.parag1{
    float: left;
    margin-top: 25px;
    margin-left: 10px;
    color: white;
}

.menu{
    float: right;
    margin-top: 30px;
    margin-right: 26px;
    font-size: 14px;
}
/* -----------------
---Style of Sing Up--
----------------- */
.singup{
    width: 360px;
    height: 150px;
    background-color: #AB47BC;
    margin: 0 auto;
    margin-top: -520px;
    border-radius: 5px;
}
.parag3{
    text-align: center;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 20px;
}
.nav-singup{
    margin-left: 120px;
}
.ul-singup{
    padding: 0;
    margin: 0;
    display: block;
    margin: 0 auto;
}
.ul-singup li{
    float: left;
    display: block;
    margin-right: 30px;
    padding-top: 10px;
}
/* ---------------------
---Style of Login Form--
----------------------*/
.login-form{
    width: 400px;
    height: 477px;
    margin: 0 auto;
    margin-top: 92px;
    background-color: white;
    border-radius: 5px;
}
.parag4{
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
}
.form-login-form{
    padding: 0;
    margin: 0;
}
input[type=text] {
    border: none;
    border-bottom: 2px solid #D2D2D2;
    width: 300px;
}
input[type=mail] {
    border: none;
    border-bottom: 2px solid #D2D2D2;
    width: 300px;
}
input[type=password] {
    border: none;
    border-bottom: 2px solid #D2D2D2;
    width: 300px;
}
.form-login-form div{
    width: 343px;
    height: 32px;
    margin: 0 auto;
}
.form-login-form img{
    margin-right: 10px;
}
.parag5{
    color: #9c27b0;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    margin-top: 30px;
    text-transform: uppercase;
}

/* -----------------
---Style of FOOTER--
----------------- */

.div-footer{
    width: 324px;
    height: 62px;
    margin: 0 auto;
    margin-top: 10px;
}
.nav-footer{
   margin-left: 20px;
}
.ul-menu{
    padding: 0;
    margin: 0;
    display: block;
    margin: 0 auto;
}

.ul-menu li{
    float: left;
    display: block;
    margin-right: 13px;
}
.ul-menu a{
    color: white;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
}
.parag2{
    color: white;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 12px;
}
